@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,400&family=Roboto&display=swap");

.about {
  .desc {
    text-align: justify;
    color: #000;
    font-family: "Poppins", sans-serif;
  }

  .swiper-wrapper {
    margin-bottom: 2rem !important;
  }
}
