.checkout {
  .infos {
    input {
      border: none;
      border-radius: 4px;
      background-color: #f5f5f5;
    }
    .form-check-input {
      background-color: #f5f5f5;
      border: 1px solid black;
      cursor: pointer;
      &:focus {
        box-shadow: none;
      }
    }
    .form-check-input:checked {
      background-color: #db4444;
      border: none;
    }
  }
  .payment {
    .prod {
      div {
        cursor: pointer;
        .quantity {
          bottom: 0%;
          left: 50%;
        }
        .delete {
          width: 15px;
          height: 15px;
          opacity: 0;
          border-radius: 50%;
          background-color: #db4444;
          color: #fff;
          top: 0%;
          left: 0%;
          transition: 0.3s ease-in-out;
        }
        &:hover .delete {
          opacity: 1;
        }
      }
    }

    .line {
      border-bottom: 2px solid #ddd;
      h1 {
        color: #474646;
      }
    }
    .bank {
      input {
        cursor: pointer;
        &:focus {
          box-shadow: none;
        }
      }
    }

    .coupon {
      input {
        border: 1px solid #000;
        border-radius: 4px;

        &::-webkit-input-placeholder {
          font-weight: 600;
          padding-left: 0.5rem;
        }
        &::-moz-placeholder {
          font-weight: 600;
          padding-left: 0.5rem;
        }
        &:-ms-input-placeholder {
          font-weight: 600;
          padding-left: 0.5rem;
        }
        &::-ms-input-placeholder {
          font-weight: 600;
          padding-left: 0.5rem;
        }
        &::placeholder {
          font-weight: 600;
          padding-left: 0.5rem;
        }
      }
    }

    .submit {
      input {
        background-color: #db4444;
        color: #fff;
        border: none;
        border-radius: 4px;
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}
