.home {
  .aside {
    border-right: 1.5px solid #ddd;
    span {
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
      .angle {
        right: 25%;
      }
    }
  }
}

// Define breakpoints
$breakpoint-xs: 0px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

@media (min-width: $breakpoint-xs) {
  .home {
    .image {
      .mySwiper {
        .swiper-slide {
          height:100%;
        }
      }
    }
  }
}


@media (min-width: $breakpoint-lg) {
  .home {
    .image {
      .mySwiper {
        .swiper-slide {
          height: 344px;
        }
      }
    }
  }
}
