.login {
  img {
    border-radius: 5px;
  }
  .buttons {
    .submit {
      background-color: #457ca0;
      color: #fff;
      border: none;
      border-radius: 4px;
    }
    .forget {
      font-weight: 500;
      opacity: 0.7;
      &:hover {
        opacity: 0.9;
      }
    }
  }
  .or {
    b {
      border: 1px solid #000;
      border-radius: 50%;
      width: 30px;
      height: 30px;
    }
    &::before {
      content: "";
      // margin-top: 0.2rem;
      position: absolute;
      width: 47%;
      height: 2px;
      background-color: #457ca0;
      left: 0%;
    }
    &::after {
      content: "";
      // margin-top: 0.2rem;
      position: absolute;
      width: 47%;
      height: 2px;
      background-color: #457ca0;
      right: 0%;
    }
  }

  .social {
    a {
      // border: 1px solid #000;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      cursor: pointer;
      color: #fff;
      box-shadow: 0px 0px 4px #aaa;
      &:hover {
        opacity: 0.8;
      }
    }

    .fb {
      background-color: #1877f2;
    }
    .gogle{
      background-color:#fafafa ;
    }
    
    // .insta {
    //   background-color: #fd1d1d;
    // }
    // .linke {
    //   background-color: #0a66c2;
    // }
    // .twitter {
    //   background-color: #1da1f2;
    // }
  }
}
