.discount {
  background-color: #000000;
  h2 {
    color: #fafafac7;
    span {
      color: #fff;
      cursor: pointer;
      &:hover {
        opacity: 0.9;
      }
    }
  }
  .language {
    color: #ffffffe5;
    opacity: 1;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
  }
}

.navbar {
  border-bottom: 1.5px solid #ddd;
  .navbar-toggler {
    border: none;
    &:focus {
      box-shadow: none;
    }
  }

  .navbar-collapse {
    // .navbar-nav {
    //   .nav-item {
    //     .nav-link {
    //       position: relative;
    //       &:hover {
    //         content:'';
    //         position: absolute;
    //         background-color: #aaa;
    //         width: 100%;
    //         height: 3px;
    //         left: 0%;
    //         right: 0%;
    //         top: 10%;
    //       }
    //     }
    //   }
    // }
    form {
      .form-outline {
        background-color: #f5f5f5;
        border-radius: 5px;
        cursor: pointer;
        input {
          background-color: #f5f5f5;
          border: none;
          &:focus {
            box-shadow: none;
          }
        }
      }

      .buttons {
        span {
          cursor: pointer;
        }
        .like {
          svg {
            font-size: 19px;
            &:hover {
              color: red;
            }
          }
        }
        .cart {
          svg {
            font-size: 19px;
            &:hover {
              color: rgb(0, 89, 255);
            }
          }
        }
      }
    }
  }
}
